{% extends 'base.html' %}

{% block content %}
    <!-- Form content -->
    <main class="container p-5">
        <div class="row">
            <aside class="col-12 col-md-6">
                <h2>Create Your Account Using the Sign Up Here</h2>
                {% include 'forms.html' %}
            </aside>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-4"></div>
            <div class="col-3 p-10">
                <img src="../../static/images/undraw_Fast_re_lywu.png" class="d-flex align-items-center justify-content-center p-50 img-fluid" alt="Sign Up Image">
            </div>
            <div class="col-3"></div>
        </div>
    </main>
{% endblock %}